body {
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: 20px auto;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.buttonContainer{
    margin-top: 10px;
}
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #004080;
  }

@media (max-width: 600px) {
    table, th, td {
        display: block;
        width: 100%;
    }
    th {
        background-color: #f2f2f2;
        position: sticky;
        top: 0;
    }
    button {
        padding: 10px 10px;
      }
}
